@model Stjornutextar.ViewModels.SubtitleViewModel

@{
    ViewBag.Title = "Stofna Þýðingu";
}

<h2>Stofna Þýðingu</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "subtitleForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Titill", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subtitle.Title)
                @Html.ValidationMessageFor(model => model.Subtitle.Title)
            </div>
        </div>   
    
        <div class="form-group">
            @Html.Label("Flokkur", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Subtitle.Category.ID, new SelectList(Model.Categories, "ID", "CategoryName"))
                @Html.ValidationMessageFor(model => model.Subtitle.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tungumál", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Subtitle.Language.ID, new SelectList(Model.Languages, "ID", "LanguageName"))
                @Html.ValidationMessageFor(model => model.Subtitle.Language)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Hlekkur", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subtitle.MediaURL)
                @Html.ValidationMessageFor(model => model.Subtitle.MediaURL)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Skjátextaskrá", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="SubtitleFile" id="SubtitleFile" />
                @Html.ValidationMessageFor(model => model.SubtitleFile)
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stofna þýðingu" class="btn btn-success" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Til baka", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}