@model Stjornutextar.ViewModels.SubtitleViewModel

@{
    ViewBag.Title = "Breyta";
}

<h2>Breyta skjátexta</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "subtitleForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Subtitle.ID)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Subtitle.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Subtitle.Title)
                @Html.ValidationMessageFor(model => model.Subtitle.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subtitle.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Subtitle.Category.ID, new SelectList(Model.Categories, "ID", "CategoryName"))
                @Html.ValidationMessageFor(model => model.Subtitle.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subtitle.Language, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Subtitle.Language.ID, new SelectList(Model.Languages, "ID", "LanguageName"))
                @Html.ValidationMessageFor(model => model.Subtitle.Language)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subtitle.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Subtitle.Status)
                @Html.ValidationMessageFor(model => model.Subtitle.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subtitle.MediaURL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subtitle.MediaURL)
                @Html.ValidationMessageFor(model => model.Subtitle.MediaURL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subtitle.PublishDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                @Html.DisplayFor(model => model.Subtitle.PublishDate)
                @Html.ValidationMessageFor(model => model.Subtitle.PublishDate)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vista" class="btn btn-primary" />
                @Html.ActionLink("Þýða skjátexta", "index", "SubtitlePart", new { id = Model.Subtitle.ID }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Til baka", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
