@model Stjornutextar.ViewModels.SubtitleListViewModel


@{
    ViewBag.Title = "Stjörnutextar";
    <div class="img_container">
        <img src="~/content/img/kings.jpg" />
    </div>
}
   
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="textbox_container">
            @Html.TextBox("name")
            <input type="submit" value="Leita að þýðingu" class="btn-group-sm" />
        </div>
    }
    <div class="button_container">
        <div class="btn-group">
            <button class=" btn btn-primary">@Html.ActionLink("Kvikmyndir", "Index", new { id = Model.Categories[0].ID })</button>
            <button class="btn btn-primary">@Html.ActionLink("Þættir", "Index", new { id = Model.Categories[1].ID })</button>
            <button class="btn btn-primary">@Html.ActionLink("Heimildarmyndir", "Index", new { id = Model.Categories[2].ID })</button>
            <button class="btn btn-primary">@Html.ActionLink("Barnaefni", "Index", new { id = Model.Categories[3].ID })</button>
        </div>
    </div>
<div class="btn btn-success" style="float:right;">
    @Html.ActionLink("Stofna Þýðingu", "Create")
</div>
            
<table class="table">
    <tr>
        <th>
           Flokkur
        </th>
        <th>
           Titill
        </th>
        <th>
            Staða
        </th>
        <th>
            Hlekkur á myndband
        </th>
        <th>
            Sækja skrá
        </th>
        <th>
            Stofnað
        </th>
        <th>
            Tungumál
        </th>
        <th>
            Líka við
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Subtitles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a class="glyphicon glyphicon-facetime-video" </td>
            <td>
                <a class="glyphicon glyphicon-download-alt" href=@Url.Action("CreateFile/" + item.ID)> </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Language.LanguageName)
            </td>
            <td>
                <a class="glyphicon glyphicon-thumbs-up" href=@Url.Action("Create")> </a>
            </td>
            <td>
                @Html.ActionLink("Breyta", "Edit", new { id=item.ID })
            </td>
        </tr>
    }
</table>
