@model Stjornutextar.ViewModels.SubtitleListViewModel


@{
    ViewBag.Title = "Stjörnutextar";
}

<div class="inner"><img src="~/Content/img/Logo.png" /></div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

                <div class="inner">
                    @Html.TextBox("name")
                    <input type="submit" value="Leita að þýðingu" class="btn-group-sm" />
                </div>
}
            <div class="inner">
    <div class="btn-group">
        <button class="btn btn-default">Kvikmyndir</button>
        <button class="btn btn-default">Þættir</button>
        <button class="btn btn-default">Fræðsla</button>
        <button class="btn btn-default">Barnaefni</button>
    </div>
</div>
<div class="create_new">
    @Html.ActionLink("Create New", "Create")
</div>
            
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subtitles[0].Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitles[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitles[0].Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitles[0].MediaURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitles[0].SubtitleFileText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitles[0].PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitles[0].Language)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Subtitles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitleFileText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Language.LanguageName)
            </td>
            <td>
                <span class="btn btn-group-xs" > @Html.ActionLink("Edit", "Edit", new { id=item.ID })</span>
            </td>
        </tr>
    }
</table>
