@model IEnumerable<Stjornutextar.Models.Subtitle>


@{
    ViewBag.Title = "Stjörnutextar";
}

<div class="index_logo"><img src="~/Content/img/Logo.png" /></div>
<div class="categories_filter">
    <button class="btn btn-default">Kvikmyndir</button>
    <button class="btn btn-default">Þættir</button>
    <button class="btn btn-default">Fræðsla</button>
    <button class="btn btn-default">Barnaefni</button>
</div>

    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-link" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MediaURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubtitleFileText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Language.LanguageName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MediaURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubtitleFileText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Language.LanguageName)
        </td>
        <td>
           <span class="edit_button"> @Html.ActionLink("Edit", "Edit", new { id=item.ID })</span>
        </td>
    </tr>
}

</table>
