@model Stjornutextar.Models.SubtitlePart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubtitlePart</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.partNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.partNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.translatedText1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.translatedText1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.translatedText2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.translatedText2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
