@model Stjornutextar.ViewModels.SubtitlePartListViewModel

@{
    ViewBag.Title = "Listi yfir öll skjátexta brot";
}

<h2>Skjátextabrot fyrir @Model.Subtitle.Title</h2>

<table class="table">
    <tr>
        <th>
            Númer
        </th>
        <th>
            Tími
        </th>
        <th>
            Texti 1
        </th>
        <th>
            Texti 2
        </th>
        <th>
            Þýðing 1
        </th>
        <th>
            Þýðing 2
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.SubtitleParts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.partNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.translatedText1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.translatedText2)
        </td>
        <td>
            @Html.ActionLink("Þýða", "Edit", new { id=item.ID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index", "Subtitle")
</div>